[global]


[message]
node_name=spotify-node - leave empty to disable node system
encoder=iot_message.cryptor.aes_sha1
encoder_params=abcdef2345678901,2345678901abcdef,0123456789abcdef,mypassphrase
ip=192.168.1.255
port=5053

[spotify]
client_id=aaa
client_secret=bbb
redirect_uri=http://127.0.0.1:9090
scope=user-read-playback-state,user-modify-playback-state

[rotary_encoder]
pin_a=19
pin_b=26
pin_button=21

[buttons]
btn_home=16
btn_a=20
btn_b=25
btn_lcd_reset=
btn_lock=5
btn_back=
btn_ble=
btn_source=

#btn_home=17
#btn_a=27
#btn_b=24
#btn_c=26
#btn_lock=5
#btn_back=4
#btn_ble=23
#btn_source=22

[leds]
led_power=4
led_ble=

[display]
driver=gfxlcd.driver.ssd1306.spi
driver_params={"RST":13, "DC":6, "CS": null}
device=gfxlcd.driver.ssd1306.ssd1306
device_size=128,64
device_rotation=0
device_offset=0,0
handler=display.gfxlcd
xy_callback=

#driver=gfxlcd.driver.sh1106.spi
#device=gfxlcd.driver.sh1106.sh1106
#device_size=132,64
#device_offset=1,0
#xy_callback=display.xy_callback.transform_half
